<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lumi Box</title>
</head>

<body>

<h1>Lumi Box</h1>

<h3>Available Tools</h3>
<ul>
    {for tool in tools}
    {if tool.running}
    <li><a href="//{tool.name}.{boxDomain}">{tool.name}</a></li>
    {/if}
    {/for}
</ul>

<hr>

<h3>Manage Tools</h3>
<ul>
    {for tool in tools}
    <li><strong>{tool.name}</strong>
        ({tool.status})
        {if tool.installed}
            {if not tool.running}<a href="/{tool.name}/start">[start]</a>{/if}
            {if tool.running}<a href="/{tool.name}/stop">[stop]</a>{/if}
            <a href="/{tool.name}/remove"
               onclick="return confirm('Remove {tool.name}? This can NOT be undone!')">[remove]</a></li>
        {/if}
    {/for}
</ul>

<h3>Install Tool</h3>
<form action="install" method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload"><br>
    <input type="submit">
</form>

<hr>

<h3>System</h3>

<h4>Disk Space</h4>
<pre>{space}</pre>

<h4>Memory</h4>
<pre>{memory}</pre>

<h4>Shutdown</h4>
<p>To avoid data corruption, always shutdown before unplugging the Box.</p>
<a href="/shutdown" onclick="return confirm('Shutdown Lumi Box?')">[shutdown]</a>

</body>
</html>